<section class="about">
    <h2>À Propos</h2>
    <mat-card>
      <mat-card-content>
        <div class="profile">
          <div class="profile-content">
            <h3>Profil</h3>
            <p>
              Ingénieur informatique récemment diplômé de l'ENSA Kénitra, spécialisé en
              développement Full Stack avec une expertise en Angular, NestJS, et la gestion
              des bases de données. Passionné par l'innovation et toujours motivé pour
              relever des défis techniques, je cherche à intégrer une équipe dynamique
              afin de contribuer à des projets ambitieux.
            </p>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="education">
          <h3>Formation</h3>
          <div class="education-item">
            <h4>Master Universitaire spécialisé - Ingénierie logiciel et Management des systèmes d'informatiques</h4>
            <p>École Nationale des Sciences Appliqués Kenitra | 2022-2024</p>
          </div>
          
          <div class="education-item">
            <h4>Licence universitaire spécialisée - Génie Informatique</h4>
            <p>École supérieure de technologie Kenitra | 2020-2021</p>
          </div>

          <div class="education-item">
            <h4>Diplôme Technicien spécialisé - Développement informatique</h4>
            <p>Institut spécialisé de Technologie Appliquée Meknès | 2018-2020</p>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="languages">
          <h3>Langues</h3>
          <div class="language-list">
            <div class="language-item">
              <span>Arabe</span>
              <p>Langue maternelle</p>
            </div>
            <div class="language-item">
              <span>Français</span>
              <p>Courant</p>
            </div>
            <div class="language-item">
              <span>Anglais</span>
              <p>Intermédiaire</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>